<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Blun.ConfigurationManager" version="1.0.5686.2674" targetFramework="net461" />
  <package id="FSharp.Net.Http" version="1.1.0" targetFramework="net461" />
  <package id="FSharp.Web.Http" version="1.1.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20710.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20710.0" targetFramework="net461" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="4.5.6" targetFramework="net461" />
  <package id="Redis" version="1.0.3" targetFramework="net461" />
  <package id="ServiceStack" version="5.4.0" targetFramework="net461" />
  <package id="ServiceStack.Client" version="5.4.0" targetFramework="net461" />
  <package id="ServiceStack.Common" version="5.4.0" targetFramework="net461" />
  <package id="ServiceStack.Interfaces" version="5.4.0" targetFramework="net461" />
  <package id="ServiceStack.Redis" version="4.0.62" targetFramework="net461" />
  <package id="ServiceStack.Text" version="5.4.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.1" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>